:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@font-face {
	font-family: "OpenSans";
	src: url("./assets/OpenSans-VariableFont_wdth,wght.ttf")
}


.container {
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	align-items: center;
}


.input {
	padding-left: 1%;
	padding-right: 1%;
	margin-bottom: 35px;
}


.input-last {
	padding-left: 1%;
	padding-right: 1%;
	margin-bottom: 25px;
	position: relative;
}


.item {
	color: #b6b6b6;
}


.complete-item {
	color: #575958;
}


.progress-bar {
	width: 100%;
	height: 2px;
	position: relative;
}


.progress {
	height: 2px;
	position: absolute;
}


.black {
	width: 25%;
	background-color: #000000;
}


.gray {
	width: 100%;
	background-color: #b2b2b2;
}


.summit {
	padding-top: 12px;
	margin-right: 12.5%;
	color: #2e292e;
	text-align: center;
	font-size: 48px;
	font-family: "OpenSans", sans-serif;
	font-stretch: condensed;
}


.logo {
	width: 175px;
	float: left;
}


.summit-container {
	margin-top: 20px;
	margin-bottom: 50px;
}


.input-text {
	font-family: "OpenSans", sans-serif;
	color: #4e4848;
	font-size: 20px;
	font-stretch: condensed;
	margin-left: 1%;
}


.input-summit {
	background-color: #fcf2e8;
    border: 2px solid #e7e0d6;
    border-radius: 10px;
    padding: 10px;
}


.input-summit::placeholder {
	color: #81766f;
	font-weight: bold;
	font-stretch: condensed;
}


.input-tel {
	background-color: #fcf2e8;
    border: 2px solid #e7e0d6;
    border-radius: 10px;
    padding: 10px;
}


.input-tel::placeholder {
	color: #81766f;
	font-style: italic;
	font-stretch: condensed;
}


.container input {
	width: 100%;
	margin-right: 1%;
}


.container input:last-child {
	grid-column: 2;
}


.next-page {
	border: 1px solid black;
	padding: 10px 20px;
	background-color: white;
	border-radius: 3px;
	color: #5c5859;
	font-family: "OpenSans", sans-serif;
	font-stretch: condensed;
	font-weight: bold;
}


.next-page:hover {
	background-color: #e1e1e1;
}


.info {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 3%;
	padding-right: 3%;
}


.theme {
	top: 0px;
	background: #5b57d1;
	color: white;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	font-size: 12px;
	font-family: monospace;
	position: absolute;
}


.travel {
	background: #5b57d1;
}


.lifestyle {
	background: #4dd961;
}


.cooking {
	background: #5dc9fd;
}


.wildlife {
	background: #ff5600;
}


.info-text {
	font-weight: bold;
	font-size: 24px;
	padding-top: 36px;
	padding-bottom: 36px;
	line-height: 1.5;
}


.info-autor {
	color: #a7a9ab;
	font-size: 14px;
}


.menu {
	border-bottom: 1px solid #c1c1c1;
}


.menu-items {
	color: #393c41;
}


.menu-items:hover {
	border-bottom: 2px solid #4e91ce;
}

